on:
  release:
    types:
      - published

name: Publish Crate

jobs:
    publish:
      name: Publish
      runs-on: ubuntu-latest
      steps:
        - name: Checkout sources
          uses: actions/checkout@v4

        - name: Install stable toolchain
          uses: actions-rust-lang/setup-rust-toolchain@v1.8.0

        - name: Publish crate
          run: cargo publish --token ${CRATES_TOKEN}
          env:
            CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}