on:
  workflow_dispatch:
  schedule:
    # every day at 2:30AM
    - cron: "30 14 * * *"

name: Renovate

jobs:
  check_dependencies:
    name: Check dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: GitHub App token
        id: get_token
        uses: tibdex/github-app-token@v2.1.0
        with:
          private_key: ${{ secrets.RENOVATE_KEY }}
          app_id: ${{ secrets.RENOVATE_APP_ID }}

      - uses: actions/checkout@v4

      - name: Set up Git credential helper and add Cloudsmith credentials
        run: |
          git config --global credential.helper store
          echo "https://${{ secrets.ROSALIND_CLOUDSMITH_USERNAME }}:${{ secrets.ROSALIND_CLOUDSMITH_API }}@dl.cloudsmith.io" > ~/.git-credentials
        shell: bash

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.3.4
        with:
          configurationFile: renovate-self-hosted.js
          token: "${{ steps.get_token.outputs.token }}"

      - name: Set if main BRANCH_NAME
        if: failure() && github.ref == 'refs/heads/main'
        shell: bash
        run: echo "BRANCH_NAME=main" >> "$GITHUB_ENV"

      - name: Set if pull_request BRANCH_NAME
        if: failure() && contains(fromJSON('["pull_request", "pull_request_target"]'), github.event_name)
        shell: bash
        run: echo "BRANCH_NAME=${{ github.head_ref }}" >> "$GITHUB_ENV"

      - name: Send GitHub Action trigger data to Slack workflow
        id: slack
        if: failure()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "actor": "${{ github.actor }}",
              "workflow": "${{ github.workflow }}",
              "event_name": "${{ github.event_name }}",
              "run_attempt": "${{ github.run_attempt }}",
              "ref": "${{ github.ref }}",
              "branch_name": "${{ env.BRANCH_NAME }}",
              "repository": "${{ github.repository }}",
              "repository_url": "https://github.com/${{ github.repository }}",
              "workflow_run_url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: https://hooks.slack.com/triggers/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
